@font-face {
  font-family: "Circular Std";
  src: url(../fonts/CircularStd-Black.otf) format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "Circular Std";
  src: url(../fonts/CircularStd-Bold.otf) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Circular Std";
  src: url(../fonts/CircularStd-Medium.otf) format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Circular Std";
  src: url(../fonts/CircularStd-Book.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Circular Std";
  src: url(../fonts/CircularStd-Light.otf) format("opentype");
  font-weight: 300;
}
