//Fonts
@import "fonts";
$font-headings: 'Circular Std', sans-serif;
$font-text: "Circular Std", sans-serif;

//Colors
$primary: #1A2332;
$secondary: #6C7B97;
$accent: #85C20D;
$gray:#F7F8FA;
$black: #000000;
